:host {
  display: grid;
  height: 100%;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 40px auto;
  grid-auto-flow: column;

  & > div {
    box-sizing: border-box;
    outline: 1px solid lightgrey;

    &.header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
    }
  }
}
