:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .mat-sidenav-container, app-calendar {
    flex-grow: 1;
  }
  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
  .mat-sidenav {
    width: 200px;
  }
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  height: 60px;
  padding: 0 8px;
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
      margin: 0 12px;
    }
    & > .title {
      display: grid;
      width: 14ch;
      grid-template-columns: 14ch;
      grid-template-rows: auto;
      align-items: center;
      text-align: center;
      font-size: larger;

      button,
      input {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
      }

      input {
        opacity: 0;
        z-index: -1;
        height: 100%;
      }
    }
  }
  & > *:nth-child(3) {
    justify-self: flex-end;

    & > *:not(:first-child) {
      margin-left: 8px;
    }
  }
}
