:host {
  display: grid;
  grid-template-rows: min-content auto;
  overflow: hidden;
  padding-top: 2px;
}
.days {
  flex-grow: 1;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.header,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  overflow: hidden;
}
.header.day,
.days.day {
  grid-template-columns: auto;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.days > div,
.header > div {
  border: 1px solid lightgrey;
}

.days > div {
  padding: 4px;
  box-sizing: border-box;
  overflow: hidden;

  &.inactive {
    background: lightgrey;
    color: grey;
  }

  & > span {
    padding: 2px 4px;
    display: inline-block;
    // &.today {
    //   position: relative;
    //   &:after {
    //     z-index: -1;
    //     box-sizing: border-box;
    //     position: absolute;
    //     background: #eee;
    //     content: '';
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     border: 1px solid #333;
    //   }
    // }
  }
  & > .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 4px 6px;

    & > div {
      border-radius: 4px;
      padding: 4px;
      background: blue;
      color: white;
      margin-bottom: 4px;
    }
  }
}
.days.month > div.active {
  color: blue;
}

.header.week > div.active {
  color: blue;
}
